.*.el
*.last
auto-save-list
*-cache
.cache
projectile-bookmarks.eld
transient
url
eshell
history

timelog

# ignored directories
elpa
backups
projects
experiments
multisession
request

# temporary files
.lsp-session*
**/#*
.dap-breakpoints
dap*
session*
