# ignore everything
*

# except the .el files in the lisp/ directory
!lisp
!lisp/*.el

# keep init files
!init.el
!early-init.el

# but ignore local customizations
lisp/init-local.el
lisp/init-local-pre.el
custom.el

# keep snippets
!snippets/
!snippets/*/
!snippets/*/*

# keep some necessary files
README.org
LICENSE
