.*.el
*.last
auto-save-list
org-persist/
*-cache
.cache
projectile-bookmarks.eld
transient
url
eshell
history

timelog

# local customizations
lisp/init-local.el
lisp/init-local-pre.el
custom.el

# ignored directories
elpa
backups
projects
experiments
multisession
request
plugins/

# temporary files
.lsp-session*
**/#*
.dap-breakpoints
dap*
session*
.session
bookmarks
.emacs.desktop
server/
*.elc
temp/
