name: "Emacs test CI"
on:
  push:
    paths-ignore:
    - '**.md'
    - '**.org'
jobs:
  # Linux ci adapted from https://github.com/purcell/emacs.d
  startup_linux:
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      matrix:
        emacs_version:
          - 30.2
        experimental: [false]
        host:
          - home
          - work
    steps:
    - uses: purcell/setup-emacs@master
      with:
        version: ${{ matrix.emacs_version }}
    - uses: actions/checkout@v4
    - name: Show test directory
      run: pwd
    - name: Init host local config
      run: |
        printf "(setq rb/host-type '${{matrix.host}})\n(provide 'init-local-pre)\n" > ./lisp/init-local-pre.el
    - name: Check startup
      run: ./test/test_startup.sh
  # windows CI is experimental and uses the Emacs version packaged
  # by chocolately: https://community.chocolatey.org/packages/Emacs
  startup_windows:
    runs-on: windows-latest
    steps:
    - name: Disable choco progress
      run: choco feature disable -n=showDownloadProgress
    - name: Install emacs
      run: choco install emacs
    - name: Check emacs version
      run: emacs --version
    - uses: actions/checkout@v4
    - name: Init host local config
      run: |
        printf "(setq rb/host-type 'home)\n(provide 'init-local-pre)\n" > ./lisp/init-local-pre.el
    - name: Check startup
      run: |
        bash ./test/test_startup.sh
        if ($LASTEXITCODE -ne 0) { exit $LASTEXITCODE }
